<div id="html-module{{ module }}" class="html-module {{ class }}">
	{% if (heading_title) %} 
		<div class="box-heading"><h5>{{heading_title}}</h5></div>
	{% endif %}	
	<div class="box-content">{{html}}</div>
</div>
