<div class="box latest">
	<div class="box-heading text-center">
		<h3 class="product-section-title">{{ heading_title }}</h3>
	</div>
	<div class="box-content js-products-wrapper">
		<div class="row" {% if layout_type %}data-box-carousel data-carousel-settings="items: 5, space: 20" data-nav-id="latest-{{ module }}"{% endif %}>
			{% set option_index = 3000 %}
			{% for product in products %}
				
				<div class="product-layout col-xl-3 col-md-3 col-6">
					{%  include '/' ~ theme_path ~ '/template/product/_partials/product_thumbnail.twig'  %}
				</div>
				
				{% set option_index = option_index + 1 %}
			{% endfor %}
		</div>
	</div>
</div>